/* CARD */
.project-card {
  position: relative;
  height: 30vh;
  width: 100%;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face1 {
  box-sizing: border-box;
  padding: 20px;
}
h2 {
  margin: 0;
  padding: 0;
}

.betting-app {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calculator {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dictionary {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-design {
    background-color: #c925a0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .form-validation {
    background-color: #3db44d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .id-card {
    background-color: #b4d43f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .multiplication {
    background-color: #555ee4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .profile-page {
    background-color: #1a4e05;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .real-estate {
    background-color: #d65e27;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .weather-app {
    background-color: #21e4c3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.face2 {
  transition: 0.5s;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.project-card:hover .face.face2 {
  height: 60px;
}
h2 {
  font-size: 2em;
}

.project-card:nth-child(1) .face.face2 {
  background-color: #555ee4;
  border-radius: 15px;
}


.button-link {
    color: white;
    text-decoration: none;
}
.button-link:hover {
    color: black;
    text-decoration: none;
}

.btn-width {
  width: 200px !important;
}

/*Responsiveness*/

@media (max-width: 767px) {
 
.face1 p {
  font-size: 13px;
}
.fsize {
  font-size: 13px !important;
}
}

@media (max-width: 550px) {
  .face1 p {
    font-size: 11px;
  }
  .fsize {
    font-size: 13px !important;
  }
  .btn-width {
    width: 150px !important;
  }
}

